---
---

@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body
{
    font: 16px 'Source Code Pro';

    height: 100%;
    width: 100%;
}

#head
{
    font-size: 1.5em;

    height: 25%;

    color: #ecf0f1;
    background-color:#7f8c8d;
}
